html,body {margin: 0px; padding: 0px; }
.container{
    margin: 50px;
    display: flex;
}

.slider{
    height: 5px;
    width: 300px;
    background: #e5e5e5;
    border-radius: 3px;
    position: relative;
    margin: 0px 0 40px 0;
    cursor: pointer;
}
.slider:before{
    position:absolute;
    content:'';
    top:-10px;
    right:-10px;
    left:-10px;
    bottom:-10px;
}
.vertical{
    height: 300px;
    width: 5px;
    background: #e5e5e5;
    border-radius: 3px;
    position: relative;
    margin: 0px 0 40px 0;
}

.sliderHandler,
.sliderHandlerSecond{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #e75735;
    position: absolute;
    left:-7px;
    top: -8px;
    cursor: pointer;
}

.handlerPosition{
    margin: 20px 0 0 -25px;
}
.handlerPosition{
    user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.popup{
    width: 40px;
    height: 20px;
    border-radius: 6px;
    color: white;
    background: #e75735;
    position: absolute;
    top: -45px;
    left: -20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 5px 0;
    user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.popup::after{
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 12px; bottom: -16px; /* Положение треугольника */
        border: 8px solid transparent; /* Прозрачные границы */
        border-top: 8px solid #e75735; /* Добавляем треугольник */
}
.popup.vertical{
    width: 40px;
    height: 20px;
    border-radius: 6px;
    color: white;
    background: #e75735;
    position: absolute;
    top: -45px;
    left: 25px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0 5px 0;
    user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.popup.vertical::after{
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        bottom: 6px; left: -16px; /* Положение треугольника */
        border: 8px solid transparent; /* Прозрачные границы */
        border-right: 8px solid #e75735; /* Добавляем треугольник */
}

input[type="text"] {
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.config{
    margin: 0 0 0 150px;
    display: flex;
    flex-direction: column;
}
label{
    margin: 0 0 0 20px;
}
.scale{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 -4px;
    width: 105%;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #d1d1d1;
    user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.scaleVertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -5px 0 0 22px;
    height: 105%;
}
/* button{
    width: 30px;
    height: 30px;
} */